*{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}
body{
  font-family:"Comic Sans MS", cursive, sans-serif;
  padding:0px;
  margin:0px;
  background:#8c796f;
}

/***header***/
#header-nav{
  background-color:#2c4829;
  border-bottom:1px solid black;
  border-radius:0;
}
#logo-img {
  background: url('coursera-test/images/logo-img.png') no-repeat;
  margin-top:20px;
  padding: 60px;  
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #f1e4d3;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 25px;
  margin-bottom: 0;
  font-size:2em;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
  margin-bottom:0px;
}
#nav-list a {
  color: #f1e4d3
;
  text-align: center;
}
#nav-list a:hover {
  background: #fad384;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #87a481;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/****end of header***/

h1{
  
  margin:30px;
  color:#f5f3f4;
  text-shadow:1px 1px 1px #8c796f;

}



 #chicken-tile, #beef-tile, #sushi-tile {
  position: relative;
  box-shadow: 0 0 50px #3F0C1F;
  border: 1.5px solid #3F0C1F;
  background-color:#f1e4d3;     
  border-radius:25px; 
  color:black;
  width:100%;
  margin-bottom:25px;

}

#chicken, #beef, #sushi {
  font-weight: bold;
  text-shadow:1px 1px 1px black;
  color:#87a481;
}


 p{
  padding:5px;
  margin-left:auto;
  margin-right:auto;
  width:90%;
  text-align:justify;
}

 div > p > a:link, a:visited { 
  color: (internal value);
  text-decoration:underline;
  line-height: 2em;
}


.panel-footer{
  text-align:center;
  font-size:15px;
  border-top:1px solid black;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color:#f1e4d3;  
}


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {


}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {


  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }


  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    border-bottom:1px solid #557c3e;
    background-color: #f1e4d3;
    color:#557c3e;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }


  /* End Header */


}
